<table>
	<tr>
		<th>Recipe name</th>
		<th>Price</th>
	</tr>
	<% @menu.menu_recipes.each do |recipe|%>
		<tr>
			<td><%= recipe.recipe.name%></td>
			<td><%= recipe.recipe.price%></td>
		</tr>
	<%end%>
</table>

<p>
	<%= link_to 'more recipe', new_menu_menu_recipe_path(@menu) %>
</p>
