<div id="reservation_container">
<% if notice %>
<p id = "notice"><%= notice%></p>
<%end%>

	<h1>Function Rooms</h1>
			<%@function_room.each do |functionroom|%>
				<h3><%= functionroom.name%></h3>
				<p> PHP<%= functionroom.price%></p>
				<%= button_to 'add function room', reservation_reservation_function_rooms_path(:function_room_id => functionroom)%>
				<hr />
			<%end%>
</div>
