<div id="reservation_container">


<h1>Recipes</h1>

	<% @recipe.each do |recipe|%>
		<p>
			<%= recipe.name%>
		</p>
		
		<p>
			<%= recipe.price%>
		</p>
		
		<p>
			<%= image_tag recipe.image_recipe.url(:medium) %>
		</p>
		
		<p>
			
			<%= button_to "add recipe", reservation_menu_addons_line_items_path(:recipe_id => recipe)%>
		</p>
		<hr />
	<%end%>

</div>