<div id="reservation_container">
<%= notice%>

<h1>Packages</h1>

	<%@package.each do |package|%>
		<h3><%= package.name%></h3>
		<h3><%= package.price%></h3>
		<%= button_to 'add package', reservation_reservation_packages_path(:package_id => package)%>
				
	<%end%>
</div>