<div id="white_bg_shadowed">
	<div class="container">
			
			<div class ="span12">
				<h1>Packages</h1>
				<%@package.each do |package|%>
				<div id="content_wrapper">	
					<strong>Package Name</strong><p><h6><%= package.name%></h6></p>
					<strong>Package Description:</strong><h6><%= truncate(strip_tags(package.description),:length=>800)%> </h6>
					<strong>Category:</strong> <h6><%= package.package_category.name%></h6>
					
					
			      <div id="right_button">
					<p><%= button_to 'Select Package', reservation_reservation_packages_path(:package_id => package), :class=> 'btn btn-primary'%>
				  </p>
				  </div>
				 
						<hr />
				</div>
				<%end%>
			</div>
	
	</div>
</div>
