<p>
	<%= link_to "add functionrooms",  functionroomlist_reservation_pages_path(@reservation) %>
</p>



<table>
	<tr>
		<th><h2>Function room</h2></th>
		<th><h2>Price</h2></th>
	</tr>
	<% @reservation.reservation_function_rooms.each do |room|%>
	<tr>
		<td><%= room.function_room.name%></td>
		<td><%= room.function_room.price%></td>
		<td><%= link_to "delete function room", reservation_reservation_function_room_path(@reservation,room), :confirm => "u sure?", :method => :delete %></td>
	</tr>										
	


<%end%>
	
	
</table>

