<h3>Packages</h3>
<br>
<table width="1100px">
	<tr>
		<td><h3>name</h3></td>
		<td><h3>Total package price</h3></td>
		<td>&nbsp;</td>
	</tr>
		<tr>	
						
				<td ><p><%=@reservation.reservation_package.package.name%> </p></td>
				<td><%= display_packageprice @reservation%></td>
				   <td >
				   	<p>
					<%= link_to "Check out",package_reservation_pages_path(@reservation) ,:class=>'btn btn-warning'%> <%= link_to "Cancel Package", reservation_reservation_package_path(@reservation), :confirm => "U sure?" , :method => :delete,:class =>"btn btn-danger"%>
						</p>
					</td>	
		</tr>	
	
	
	
	
</table>

<br>

<hr />









	

	
	








