<table class="table">
	<tr>
		<th><h2>Package name</h2></th>
	</tr>
		<tr>	
						
				<td><%= link_to @reservation.reservation_package.package.name ,package_reservation_pages_path(@reservation)%></td>
				<td><%= display_packageprice @reservation%></td>
				
					
					
				   <td>
					<%= link_to "Delete package", reservation_reservation_package_path(@reservation), :confirm => "U sure?" , :method => :delete,:class =>"btn btn-danger"%>
						
					</td>
	
					
		</tr>	
	
	
	
	
</table>











	

	
	








