<p id="notice"><%= notice %></p>

<p>
  <b>Function room:</b>
  <%= @function_room_image.function_room_id %>
</p>


<%= link_to 'Edit', edit_function_room_image_path(@function_room_image) %> |
<%= link_to 'Back', function_room_images_path %>
