<h1> Paypal API Checker status:</h1>
<p>status: Card valid</p>
<p>api checked the following card information:</p>
<p>"Paypal Testcard Valid"</p>
<p>Card Valid</p>
<p>Thank you for registering with DoeJoe reservation please wait for our us to contact you for the confirmation</p>
<p>Have a nice day!</p>
