
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap_and_overrides
 *= require_tree .
*/



#regform{
 background-color:gray;
 padding: 20px 20px 20px 20px;

}

#package-function {
background-color:yellow;

 padding: 20px 20px 20px 20px;
 
}

#reservation_container {

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #8A6E81));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #8A6E81 100%);

}

#reservation_handler{
 background-color:red;
 padding: 20px 20px 20px 20px;
}

p {
	font-family:"Times New Roman", Times, serif;
}

a {
text-decoration:none;
}
.body:link {text-decoration:none;}
.body:visited {text-decoration:none;}
.body:hover {text-decoration:underline;}