// Place all the styles related to the public controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#headNavBackGround{
  background: #9c9;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #282;
  text-align: center;
}

#bodyBackGround{
  background: yellow;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid;
  color: #282;
}
