// Place all the styles related to the reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body a:hover {
   background-color:transparent;
}

ul, ul li a {
list-style: none;
text-decoration: none;
font-weight: bold;
font-size: 11px;
}




a:link ,a:visited , a:active {
  text-decoration: none; 
}


#border-image{
  border:solid 20px;
}


.total_price {
  padding: 20px 20px 20px 20px;
  background-color: black;
     font: {
    family: fantasy;
    weight: bold;
    }
}

.right-wing {
    
    font: {
    family: fantasy;
    size: 30em;
    weight: bold;
  }

  
}