<div id="whole_page_wrapper">

<div id="wrap">
<h4>Address:</h4>
<p>
	601 - 604 Jolibee plaza Centre Julia Vargas Cor. Meralco Ave. Ortigas Center Pasig City
</p>

<h4>Email address</h4>
<p>
doh-joeplace.gmail.com
</p>
<h4>Telephone number</h4>
<p>
251-2746(loc 213)
</p>
<h4>Fax number</h4>
<p>
613-960-0050
</p>
</div>







</div>
