<div class="container">
<div id="function_room_content">
<div class="publicpackage">
		<h1><strong>Packages</strong></h1>	
			<div id="content-package">
			<table width=600px>
				<tr>
					<font size=5px><center>Package 1 - Wedding</center>
						<br>
				</tr>
				<tr>
					<td>
						<table width=300px>
							<tr>
								<td>
									<center><font size=4px>Package Crew</font></center>
									
									<div>
										<ul>
											
											<li>Waiter - 10</li>
											<li>Singer - 2</li>
											<br><br><br>
										</ul>
									</div>
			
									<br />
							</tr>
						</table>
					</td>
					<td>
						<table width=300px>
							<tr>
								<td>
									<center><font size=4px>Wedding Package 1 Menu</font></center>
									
									<div>
										<ul>
											<li>Iced Tea</li>
											<li>Lumpiang Shanghai</li>
											<li>Lobster Roll</li>
											<li>Lechon Kawali</li>
											<li>Fruit Salad</li>
										</ul>
									</div>
			
									<br />
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
		
		<div id="content-package">
			<table width=600px>
				<tr>
					<font size=5px><center>Package 2 - Wedding</center>
						<br>
				</tr>
				<tr>
					<td>
						<table width=300px>
							<tr>
								<td>
									<center><font size=4px>Package Crew</font></center>
									
									<div>
										<ul>
											<li>Band - 1</li>
											<li>Waiter - 10</li>
											<li>Singer - 1</li>
											<br><br><br>
										</ul>
									</div>
			
									<br />
							</tr>
						</table>
					</td>
					<td>
						<table width=300px>
							<tr>
								<td>
									<center><font size=4px>Wedding Package 2 Menu</font></center>
									
									<div>
										<ul>
											<li>Iced Tea</li>
											<li>Poutine</li>
											<li>Peking Duck</li>
											<li>Neapolitan pizza</li>
											<li>Lasagna</li>
											
										</ul>
									</div>
			
									<br />
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
		
		
		
		<div id="content-package">
			<table width=600px>
				<tr>
					<font size=5px><center>Package 1 - Debut</center>
						<br>
				</tr>
				<tr>
					<td>
						<table width=300px>
							<tr>
								<td>
									<center><font size=4px>Package Crew</font></center>
									
									<div>
										<ul>
											<li>Dj - 1</li>
											<li>Band - 2</li>
											<li>Waiter - 8</li>
											<br><br><br>
										</ul>
									</div>
			
									<br />
							</tr>
						</table>
					</td>
					<td>
						<table width=300px>
							<tr>
								<td>
									<center><font size=4px>Debut Package 1 Menu</font></center>
									
									<div>
										<ul>
											<li>Iced Tea</li>
											<li>Chili Crab</li>
											<li>Cordon Bleu</li>
											<li>Chicken Barbecue</li>
											<li>Carbonara</li>
											
										</ul>
									</div>
			
									<br />
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
		
		
		<div id="content-package">
			<table width=600px>
				<tr>
					<font size=5px><center>Package 2 - Debut</center>
						<br />
				</tr>
				<tr>
					<td>
						<table width=300px>
							<tr>
								<td>
									<center><font size=4px>Package Crew</font></center>
									
									<div>
										<ul>
											<li>Singer - 2</li>
											<li>Waiter - 5</li>
											
											<br><br><br>
										</ul>
									</div>
			
									<br />
							</tr>
						</table>
					</td>
					<td>
						<table width=300px>
							<tr>
								<td>
									<center><font size=4px>Debut Package 2 Menu</font></center>
									
									<div>
										<ul>
											<li>Iced Tea</li>
											<li>French Toast</li>
											<li>Four Cheese Enchilada</li>
											<li>Crispy Pata</li>
											<li>Crab and Corn Soup</li>
										
										</ul>
									</div>
			
									<br />
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>

		
		<div id="content-package">
			<table width=600px>
				<tr>
					<font size=5px><center>Package 1 - Kiddie party</center>
						<br>
				</tr>
				<tr>
					<td>
						<table width=300px>
							<tr>
								<td>
									<center><font size=4px>Package Crew</font></center>
									
									<div>
										<ul>
											<li>Photographer - 1</li>
											<li>Clown - 2</li>
											<li>Waiter - 6</li>
											<br><br><br>
										</ul>
									</div>
			
									<br />
							</tr>
						</table>
					</td>
					<td>
						<table width=300px>
							<tr>
								<td>
									<center><font size=4px>Kiddie Package 1 Menu</font></center>
								
									<div>
										<ul>
											<li>Iced Tea</li>
											<li>French Toast</li>
											<li>Crispy Pata</li>
											<li>Cordon Bleu</li>
											<li>Chicken Barbecue</li>
										
										</ul>
									</div>
			
									<br />
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>

		<div id="content-package">
			<table width=600px>
				<tr>
					<font size=5px><center>Package 2 - Kiddie party</center>
							<br />
				</tr>
				<tr>
					<td>
						<table width=300px>
							<tr>
								<td>
									<center><font size=4px>Package Crew</font></center>
									
									<div>
										<ul>
											<li>Magician - 2</li>
											<li>Waiter - 6</li>
											<li>Clown - 3</li>
											<br><br>
										</ul>
									</div>
			
									<br />
							</tr>
						</table>
					</td>
					<td>
						<table width=300px>
							<tr>
								<td>
									<center><font size=4px>Kiddie Package 2 Menu</font></center>
									
									<div>
										<ul>
											<li>Iced Tea</li>
											<li>Spaghetti</li>
											<li>Neapolitan pizza</li>
											<li>Lumpiang Shanghai</li>
											<li>Lechon Kawali</li>
										</ul>
									</div>
			
									<br />
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>

		
		<div id="content-package">
			<table width=600px>
				<tr>
					<font size=5px><center>Package 1 - Cocktail</center>
							<br />
				</tr>
				<tr>
					<td>
						<table width=300px>
							<tr>
								<td>
									<center><font size=4px>Package Crew</font></center>
									
									<div>
										<ul>
											<li>Dj - 1</li>
											<li>Singer - 1</li>
											<li>Waiter - 10</li>
											<br><br>
										</ul>
									</div>
			
									<br />
							</tr>
						</table>
					</td>
					<td>
						<table width=300px>
							<tr>
								<td>
									<center><font size=4px>Cocktail Package 1 Menu</font></center>
									
									<div>
										<ul>
											<li>Iced Tea</li>
											<li>Tiramisu</li>
											<li>Spaghetti</li>
											<li>Sizzling-Sisig</li>
											<li>Seafood Paella</li> 
										</ul>
									</div>
			
									<br />
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>	
		
		<div id="content-package">
			<table width=600px>
				<tr>
					<font size=5px><center>Package 2 - Cocktails</center>
						<br>
				</tr>
				<tr>
					<td>
						<table width=300px>
							<tr>
								<td>
									<center><font size=4px>Package Crew</font></center>
									
									<div>
										<ul>
											<li>Singer - 2</li>
											<li>Waiter - 4</li>
											<li>Band - 3</li>
											<br><br><br>
										</ul>
									</div>
			
									<br />
							</tr>
						</table>
					</td>
					<td>
						<table width=300px>
							<tr>
								<td>
									<center><font size=4px>Cocktail Package 2 Menu</font></center>
									
									<div>
										<ul>
											<li>Iced Tea</li>
											<li>Four Cheese Enchilada</li>
											<li>Crab and Corn Soup</li>
											<li>Chili Crab</li>
											<li>Carbonara</li>
										
										</ul>
									</div>
			
									<br />
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>

</div>
</div>
</div>