<div id="reservation_container">
<div id="content-package">
	<center>
			<table width=600px>
				<tr>
					<font size=5px><center>Kiddie Party Package</center>
				</tr>
				<tr>
					<td>
						<table width=300px>
							<tr>
								<td>
									<center><font size=4px>Package Crew</font></center>
									
									<div>
										<ul>
											<li>Magician - 2</li>
											<li>Waiter - 4</li>
											<li>Clown - 3</li>
											<br><br><br>
										</ul>
									</div>
			
									<br />
							</tr>
						</table>
					</td>
					<td>
						<table width=300px>
							<tr>
								<td>
									<center><font size=4px>Kid's Plated Menu</font></center>
									
									<div>
										<ul>
											<li>Sunken Treasure Nugets</li>
											<li>Spaghetti Filipiniana</li>
											<li>Petit Hamburger</li>
											<li>Cheese Nachos</li>
											<li>Vanilla Cream Puffs</li>
											<li>Flowing Claudia's Kiddie Mock Tails</li>
										</ul>
									</div>
			
									<br />
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
		
		<div id="content-package">
			<table width=600px>
				<tr>
					<font size=5px><center>Economy Wedding Package</center>
				</tr>
				<tr>
					<td>
						<table width=300px>
							<tr>
								<td>
									<center><font size=4px>Package Crew</font></center>
									
									<div>
										<ul>
											<li>Photographer - 1</li>
											<li>Singer - 1</li>
											<li>Waiter - 2</li>
											<br><br><br>
										</ul>
									</div>
			
									<br />
							</tr>
						</table>
					</td>
					<td>
						<table width=300px>
							<tr>
								<td>
									<center><font size=4px>Economy's Wedding Food Menu</font></center>
									
									<div>
										<ul>
											<li>Laing</li>
											<li>Avocado Soup</li>
											<li>Petit Hamburger</li>
											<li>Chicken Inasal</li>
											<li>Spare Ribs</li>
											<li>Flowing Claudia's Kiddie Mock Tails</li>
										</ul>
									</div>
			
									<br />
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>

		
		<div id="content-package">
			<table width=600px>
				<tr>
					<font size=5px><center>Exclusive Wedding Package</center>
				</tr>
				<tr>
					<td>
						<table width=300px>
							<tr>
								<td>
									<center><font size=4px>Package Crew</font></center>
									
									<div>
										<ul>
											<li>Photographer - 2</li>
											<li>Singer - 1</li>
											<li>Waiter - 5</li>
											<br><br><br>
										</ul>
									</div>
			
									<br />
							</tr>
						</table>
					</td>
					<td>
						<table width=300px>
							<tr>
								<td>
									<center><font size=4px>Exclusive Wedding Food Menu</font></center>
									
									<div>
										<ul>
											<li>Ikameshi</li>
											<li>Chan Chan Yaki</li>
											<li>Ingen no goma-ae</li>
											<li>Tempura</li>
											<li>Rice Cake</li>
											<li>Cresentina</li>
										</ul>
									</div>
			
									<br />
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>

		<div id="content-package">
			<table width=600px>
				<tr>
					<font size=5px><center>Exclusive Seminar Package</center>
				</tr>
				<tr>
					<td>
						<table width=300px>
							<tr>
								<td>
									<center><font size=4px>Package Crew</font></center>
									
									<div>
										<ul>
											<li>Emcee - 1</li>
											<li>Waiter - 4</li>
											<br><br>
										</ul>
									</div>
			
									<br />
							</tr>
						</table>
					</td>
					<td>
						<table width=300px>
							<tr>
								<td>
									<center><font size=4px>Exclusive Seminar Menu</font></center>
									
									<div>
										<ul>
											<li>Cantucci Di Prato</li>
											<li>Chicken Pine Apple</li>
											<li>Kahlua Pork</li>
											<li>Hawaiian Coleslaw</li>
										</ul>
									</div>
			
									<br />
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>

		
		<div id="content-package">
			<table width=600px>
				<tr>
					<font size=5px><center>Cocktail Party Package</center>
				</tr>
				<tr>
					<td>
						<table width=300px>
							<tr>
								<td>
									<center><font size=4px>Package Crew</font></center>
									
									<div>
										<ul>
											<li>Emcee - 1</li>
											<li>Waiter - 3</li>
											<li>Music DJ- 1</li>
											<br><br>
										</ul>
									</div>
			
									<br />
							</tr>
						</table>
					</td>
					<td>
						<table width=300px>
							<tr>
								<td>
									<center><font size=4px>Cocktail's Drink Menu</font></center>
									
									<div>
										<ul>
											<li>Margarita</li>
											<li>Bloody Mary</li>
											<li>Sea Breeze</li>
											<li>Pina Colada</li>
											<li>Singapore Sling</li> 
										</ul>
									</div>
			
									<br />
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>	
</center>


</div>
