<div id="reservation_container">
	<div class="frame">
			<div class="frameLeft">
				<div class="contentLeft">
					<div class="ribbon-wrapper">
						<div class="ribbon-front">
							<strong>LAUNA</strong>
						</div>
						<div class="ribbon-edge-topleft"></div>
						
						<div class="ribbon-edge-bottomleft"></div>
						
						<div class="ribbon-back-left"></div>
						
					</div>					

					<p>
						<ul>
							<li>
							<strong>Hawaiian Cuisine</strong>
								<ul>
									<li>
										KAHLUA PORK
									</li>
									<li>
										HAWAIIAN COLESLAW
									</li>
								</ul>		
							</li>
						</ul>						
					</p>
				</div>
				<div class="contentLeft">
					<div class="ribbon-wrapper">
						<div class="ribbon-front">
							<strong>OBENTO</strong>
						</div>
						<div class="ribbon-edge-topleft"></div>
						
						<div class="ribbon-edge-bottomleft"></div>
						
						<div class="ribbon-back-left"></div>
						
					</div>	
					<p>
						<ul>
							<li>
							<strong>Japanese Cuisine</strong>
								<ul>
									<li>
										TEMPURA
									</li>
									<li>
										Ingen no goma-ae
									</li>
								</ul>		
							</li>
						</ul>						
					</p>
				</div>
				<div class="contentLeft">
					<div class="ribbon-wrapper">
						<div class="ribbon-front">
							<strong>BICOL</strong>
						</div>
						<div class="ribbon-edge-topleft"></div>
						
						<div class="ribbon-edge-bottomleft"></div>
						
						<div class="ribbon-back-left"></div>
						
					</div>	
					<p>
						<ul>
							<li>
							<strong>Philippine Cuisine</strong>
								<ul>
									<li>
										LAING
									</li>
									<li>
										BICOL EXPRESS
									</li>
								</ul>		
							</li>
						</ul>						
					</p>
				</div>
				<div class="contentLeft">
					<div class="ribbon-wrapper">
						<div class="ribbon-front">
							<strong>ALOHA</strong>
						</div>
						<div class="ribbon-edge-topleft"></div>
						
						<div class="ribbon-edge-bottomleft"></div>
						
						<div class="ribbon-back-left"></div>
						
					</div>	
					<p>
						<ul>
							<li>
							<strong>Hawaiian Cuisine</strong>
								<ul>
									<li>
										PINEAPPLE JUICE
									</li>
									<li>
										CHICKEN PINEAPPLE
									</li>
								</ul>		
							</li>
						</ul>						
					</p>
				</div>
				<div class="contentLeft">
					<div class="ribbon-wrapper">
						<div class="ribbon-front">
							<strong>TUSCANY</strong>
						</div>
						<div class="ribbon-edge-topleft"></div>
						
						<div class="ribbon-edge-bottomleft"></div>
						
						<div class="ribbon-back-left"></div>
						
					</div>	
					<p>
						<ul>
							<li>
							<strong>Italian Cuisine</strong>
								<ul>
									<li>
										CECINA (FARINATA)
									</li>
									<li>
										Cantucci Di Prato
									</li>
								</ul>		
							</li>
						</ul>						
					</p>
				</div>
			</div>
			<div class="frameRight">
				<div class="contentRight">
					<div class="ribbon-wrapper">
						<div class="ribbon-front">
							<strong>FUGU</strong>
						</div>
						<div class="ribbon-edge-topleft"></div>
						
						<div class="ribbon-edge-bottomleft"></div>
						
						<div class="ribbon-back-left"></div>
						
					</div>	
					<p>
						<ul>
							<li>
							<strong>Japanese Cuisine</strong>
								<ul>
									<li>
										IKAMESHI
									</li>
									<li>
										CHAN CHAN YAKI
									</li>
								</ul>		
							</li>
						</ul>						
					</p>
				</div>
				<div class="contentRight">
					<div class="ribbon-wrapper">
						<div class="ribbon-front">
							<strong>BACOLOD</strong>
						</div>
						<div class="ribbon-edge-topleft"></div>
						
						<div class="ribbon-edge-bottomleft"></div>
						
						<div class="ribbon-back-left"></div>
						
					</div>	
					<p>
						<ul>
							<li>
							<strong>Philippine Cuisine</strong>
								<ul>
									<li>
										BACOLOD SPARE RIBS
									</li>
									<li>
										CHICKEN INASAL
									</li>
								</ul>		
							</li>
						</ul>						
					</p>
				</div>
				<div class="contentRight">
					<div class="ribbon-wrapper">
						<div class="ribbon-front">
							<strong>BURGUNDY</strong>
						</div>
						<div class="ribbon-edge-topleft"></div>
						
						<div class="ribbon-edge-bottomleft"></div>
						
						<div class="ribbon-back-left"></div>
						
					</div>	
					<p>
						<ul>
							<li>
							<strong>French Cuisine</strong>
								<ul>
									<li>
										CHICKEN CHABLIS
									</li>
									<li>
										AVOCADO SOUP
									</li>
								</ul>		
							</li>
						</ul>						
					</p>
				</div>
				<div class="contentRight">
					<div class="ribbon-wrapper">
						<div class="ribbon-front">
							<strong>LOIRE VALLEY</strong>
						</div>
						<div class="ribbon-edge-topleft"></div>
						
						<div class="ribbon-edge-bottomleft"></div>
						
						<div class="ribbon-back-left"></div>
						
					</div>	
					<p>
						<ul>
							<li>
							<strong>French Cuisine</strong>
								<ul>
									<li>
										PEPERONI ARROTOLATI
									</li>
									<li>
										FRITTELLE DI RISO
									</li>
								</ul>		
							</li>
						</ul>						
					</p>
				</div>
				<div class="contentRight">
					<div class="ribbon-wrapper">
						<div class="ribbon-front">
							<strong>EMILIA-ROMAGNA</strong>
						</div>
						<div class="ribbon-edge-topleft"></div>
						
						<div class="ribbon-edge-bottomleft"></div>
						
						<div class="ribbon-back-left"></div>
						
					</div>	
					<p>
						<ul>
							<li>
							<strong>Italian Cuisine</strong>
								<ul>
									<li>
										Rice cake
									</li>
									<li>
										Crescentina
									</li>
								</ul>		
							</li>
						</ul>						
					</p>
				</div>
			</div>
	</div>
</div>