<div id="white_bg_shadowed">
<p>	
	Function Room Terms and Conditions
</p>
<h6>
<p>	
This AGREEMENT contains the details of our terms and conditions for the hiring of our function rooms.
We are happy to take tentative bookings which are held for a 7 day period. To confirm a tentative
booking full payment of the room hire is required along with a signed copy of the attached booking
form. If confirmation is not received within the specified timeframe the tentative booking will be
cancelled. For any further information or queries please feel free to call us on 251-2746(loc 213)
</p>
<p>
I. BOOKINGS AND CONFIRMATION
</p>

<p>
Your reservation is considered confirmed when payment is received together with a signed copy of
these terms and conditions. Full payment is required at least 14 days before the date of the actual
function. Doh-Joe Events Place reserves the right to cancel bookings where confirmation is not received
within these specified timeframes.
</p>
<p>
II. PRICES
</p>

<p>
Prices of Function Rooms will remain fixed for three (3) months after the booking has been confirmed.
Beyond that period of time, Doh-Joe Events Place reserves the right to change and will advise clients
accordingly of any change.
</p>
<p>
CATERERING
</p>
<p>
Use of external commercial caterers is at the sole discretion of Doh-Joe Events Place. Where external
commercial caterers are allowed, they must satisfy the following requirements:
</p>
<p>
• Hold Public Liability Insurance
</p>
<p>
• Hold Workers Compensation Insurance where staffs are engaged
</p>
<p>
• Hold a Food License (in accordance with Department of Health requirements)
</p>
<p>
• Be registered as a Business for taxation purposes (company, partnership or hobby)
</p>
<p>
Additional charges may apply where:
</p>
<p>
• Access to the kitchen is required outside Club operating hours – Hourly charge rate to be applied
dependent on date/time
</p>
<p>
• Kitchen Hire Bond - (waived if Hall Hire Bond provided)
</p>
• Club's plates and cutlery are required (pp charge)
<p>
• Club tablecloths are used - (waived where Hall Hire fee is paid)
</p>
<p>
A deposit of a minimum of 20% of the total food expenditure is required. This is required at least 14
days prior to your function. A guaranteed minimum number of guests attending the function is required
</p>
<p>
to be notified at least 14 days prior to the function. These numbers will form the basis for the minimum
number you are charged for the deposit.
</p>
<p>
A confirmation of final numbers is to be provided at least 7 days prior to the function and these
numbers will form the basis for the minimum number you are charged for the final payment. For
example, if you confirm 40 and only 30 arrive, you will still be charged for the confirmed 40. If by chance
numbers rise, we will endeavor to cater for the extra guests, however take no responsibility if the
function menu you are ordering cannot be organized in time.
</p>
<p>
Kitchen Cleaning – to be cleaned and tidied post completion of function.
</p>
<p>
BAR SERVICES
</p>
<p>
There are a variety of different options to choose from when deciding on which way to run your function
in terms of bar services. Please note that last drinks are called 15 minutes prior to the close of the
function.
</p>
<p>
Option One: Bar Tab (Main Hall and Bistro)
</p>
<p>
The drinks are served from the bar. You can run a Bar Tab in the main Hall or Bistro and set a limit to
the amount you spend and on the drinks that can be bought. Once this amount is reached, your guests
can then pay their own way. You can also specify the beverage selection available on your Bar Tab. The
amount of the Bar Tab can be increased on the night if you wish to do so.
</p>
<p>
The total for the Bar Tab is to be settled at the conclusion of the event in one transaction.
</p>
<p>
Option Two: Guests to Purchase Own
</p>

<p>
As the name describes, your guests can simply order and pay for their drinks from the bar as they go.
</p>
<p>
Option Three: Private Function Bar (Upstairs Function Room)
</p>
<p>
Choose from your favourite bottled alcoholic drinks (beer, wine, champagne, RTD's) and non-alcoholic
drinks and a private bar will be set up in the upstairs function room.
A staff member must serve the desired drinks at the function in order to ensure we comply with current
RSA laws.
</p>
<p>
You will need to set a limit to the amount you spend and on the drinks that can be bought. This amount
can be increased on the night if you wish to do so.
</p>
<p>
The total for the Bar Tab is to be settled at the conclusion of the event in one transaction.
</p>
<p>
III. BOND FEES
</p>
<p>
Where payment of a bond fee is required for function room hire, that payment must be made by the
date of the function. The bond will be repaid to the client on the next day’s trading (or soon thereafter)
once management have conducted an inspection and are satisfied that no damage has occurred to
</p>
<p>
club’s premises and property, and that these terms and conditions have been fully complied with.
</p>
<p>
A bond fee may be applicable for the daytime hire of the upstairs room and/or the bistro and will be
assessed by club management on an individual case-by-case basis.
</p>
<p>
IV. SECURITY
</p>
<p>
Any function rooms booked for the purposes of: 18th birthday parties; 21st birthday parties; and/or
otherwise deemed appropriate by Doh-Joe Events Place management, MUST have security provisions.
For any 18th birthday function security must be provided for the entirety of the function. This must be
organized through us at a ratio of 1 security guard per 40 guests.
</p>
<p>
It is the responsibility of the client to arrange, provide and pay for the security (or alternatively, the
club can make security arrangements on behalf of the client (the costs of which will be borne by the
client). Security personnel must arrive at least ½ hour before the scheduled start time of the function
and be present throughout the duration of the function. All security personnel must have a current
license; in accordance with applicable laws, and must have a current Responsible Service of Alcohol
(RSA) Certificate. Security personnel are to provide license numbers to Club management and record
any incidents within the Incident Register.
</p>
<p>
Clients must also provide a list of attendees to the function to both club management and to the
security personnel. Doh-Joe Events Place will have no hesitation in immediately cancelling functions
where adequate security provisions have not been provided for.
</p>
<p>
V. CONDUCT
</p>
<p>
The client is responsible to conduct the function in an orderly manner and in full compliance with the
rules and regulations of Doh-Joe Events Place and all applicable laws.
</p>
<p>
Doh-Joe Events Place reserves the right to intervene if a function’s activities are considered illegal,
excessively noisy or offensive. The Club reserves the right to remove patrons attending functions
from the premises for unruly behavior or showing signs of intoxication as deemed at management’s
discretion.
</p>
<p>
Doh-Joe Events Place operates under the Liquor – and thus enforces the Responsible Service of Alcohol
even though you are holding a private function. Any persons considered to be under the legal drinking
age of eighteen (18) years will NOT be served alcohol. Doh-Joe Events Place further reserves the right to
refuse the service of alcohol to any patron it considers to be intoxicated, and/or behaving in an unruly or
offensive manner.
</p>
<p>
All patrons are to vacate the premises 15 minutes after the agreed closing times.
</p>
<p>
For any 18th Function security must be provided for the entirety of the function. This must be organized
through us at a ratio of 1 security guard per 40 guests.
</p>
<p>
VI . DAMAGES AND CLEANING COSTS
</p>
<p>
The client remains responsible for any loss or damages caused by them or any of their guests, invitees
or other people attending the function, whether in the function room or any other part of the
club’s premises. The client will forfeit their right to have the bond money returned to them and will
additionally be liable for the cost of any damages incurred as a result of the function. The cost of the
damages will be charged to them on the function invoice.
</p>
<p>
Doh-Joe Events Place, while taking reasonable care to prevent accidents, will accept no responsibility for
any damage to or loss of property brought in by patrons before, during or after the function.
</p>
<p>
General and normal cleaning costs are included, but additional cleaning fees may be charged if the
function has created cleaning requirements above and beyond normal cleaning.
</p>
<p>
VII. SERVICE STANDARDS
</p>
<p>
Doh-Joe Events Place abides by the Liquor Act and associated Regulations and practices the responsible
service alcohol. Persons under the age of eighteen (18) years WILL NOT be served alcohol under any
circumstances.
</p>
<p>
No food, drink or alcohol of any description (other than a birthday/wedding cake etc (or unless
otherwise agreed to by the Club)) may be brought on to the club’s premises, including the venue’s
outdoor areas, car parks, etc. Doh-Joe Events Place reserves the right to refuse entry and/or service of
alcohol to intoxicated patrons.
</p>
<p>
VIII. COMMENCEMENT AND CLOSING TIMES
</p>
<p>
Functions will commence and conclude according to the scheduled times made at the time of the
booking. If a function exceeds the agreed concluding time, an additional fee will apply if there is no
scheduled event after the current function.
</p>
<p>
IX. ROOM DECORATION
</p>
<p>
Within reason, decorations for the function rooms are left up to the discretion of the organizer/hirer.
Arrangements for the time you wish to decorate must be confirmed 7 days prior to the event, so
necessary adjustments to earlier bookings can be made by us. Setup and pickup times of decorations,
displays, equipment etc must be during the club’s operating hours or by prior arrangement.
</p>
<p>
Only magic tape and/or blu-tac may be used to attach decorations to the walls and ceiling. No
thumbtacks, nails or sticky tape may be used. Clients are responsible for the setup and breakdown of
any displays, equipment etc.
</p>
<p>
X. ENTERTAINMENT
</p>
<p>
Entertainment can be either organized through outside means (such as DJ, band, etc) or alternatively,
we can run our music in the main hall. No matter the chosen type of music/entertainment, management
reserves the right to adjust the volume accordingly. A microphone and visual projection screen are
available for use at your function for speeches and/or presentations.
</p>
<p>
XI. UNFORSEEN CIRCUMSTANCES
</p>
<p>
In the event of inability to comply with any of the provisions of this contract by virtue or any cessation or
Interruption of electricity or gas supplies, industrial disputes, plant or equipment failure, unavailability
of food item, other unforeseen contingency or accident, Doh-Joe Events Place reserve the right to cancel
any booking or refund any deposit without notice.
</p>
<p>
Should the function room reserved be unavailable, due to unforeseen circumstances, we reserve the
right to substitute similar venues. Every effort will be taken by us to notify you as far in advance as
possible.
</p>
<p>
Doh-Joe Events Place reserves the right to assign an alternative function room in the event that the
room originally booked is inappropriate or unavailable due to unforeseen circumstances. Every effort
will be taken by Doh-Joe Events Place to notify you as far in advance as possible.
</p>
<p>
XII. PAYMENT
</p>
<p>
Accepted forms of payment are cash, cheque or bank cheque. Doh-Joe Events Place does not provide
credit. The contract signatory is liable to pay all monies due under this Agreement.
</p>
<p>
HALL HIRE
</p>
<p>
Full payment of the Room Hire Fee is required 14 working days before the event. Any additional
charges (eg for extended hours, additional cleaning costs, damages, etc) is required to be settled at the
completion of the function.
</p>
<p>
CATERING
</p>
<p>
A deposit of a minimum of 20% of the total food expenditure is required. This is required at least 14
days prior to your function. Full payment of the total catering bill is required up front on the night of the
function.
</p>
<p>
BAR TAB
</p>
<p>
Full payment of the Bar Tab is to be settled at the conclusion of the event in one transaction.
</p>
<p>
XIII. CANCELLATION
</p>
<p>
HALL HIRE
</p>
<p>
No refund of the venue hire fee will be payable where the function is cancelled within 14 days of the
proposed event.
</p>
<p>
CATERING
</p>
<p>
In the event of a cancellation of the catering within 7 days of the function date, the deposit will be kept
by The Australian Croatian Club Ltd. Should a cancellation of a function fall within 48 hours of the event
</p>
<p>
commencement time, 100% of catering menu packages will be charged.
</p>
</h6>	
	
	
</div>
